body{
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("img_gif/sala1.jpg");
	background-size: cover;
    display: flex;
    
    height: 100vh;
}

.navJog img{
	width:80px;
	height: 100px;
	/* background-image: url("img_gif/nave_jog.png"); */
	position: absolute;
}
.navJog{
	position: absolute;
}


#medidorPlaneta{
	border:2px solid red;
	width:300px;
	height:20px;
	background-color: rgb(150, 65, 65);
	border-radius: 7px;
}
#barraPlaneta{
	width:300px;
	height:20px;
	background-color: red;
	border-radius: 7px;
	
}


.tiroJog{
	width:6px;
	height:6px;
	background-color: red ;
	position: absolute;
}
.bomba{
	width:60px;
	height:100px;
	background-image:URL("img_gif/bomba.gif");
	position:absolute;
}
.explosaoChao{
	width:55px;
	height:57px;
	position:absolute;
}
.explosaoAr{
	width:70px;
	height:70px;
	position:absolute;
}
.telaMsg{
	position: absolute;
	margin-left:-25%;
	top:50px;
	left:50%;
	width: 720px;
	height: 621px;
	display: none;
}
